* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100%;
    background-color: black;
}

.calculator-display {
    width: 40vw;
    height: 10vw;
    border: 10px solid #CFFFE2;
    border-radius: 10px;
}

.first-container {
    display: flex;
    justify-content: center;
    padding: 4vw;
}
